* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background: #cfb776;
}

:root {
  --container: #050518;
  --white: #ffffff;
  --color-text: #333;
  --color-layout: #ffa726;
}

a.btn,
a.btn:hover {
  background: var(--white);
  border: 1px solid var(--color-layout);
  color: var(--color-layout);
  width: 92%;
}

a.btn:hover {
  background: var(--color-layout);
  color: var(--white);
}

.login__container--text {
  color: var(--color-layout);
}

.container {
  background: var(--container);
  position: absolute;
  padding-top: 15%;
  left: -25%;
  height: 100vh;
}

.container__frame--01 {
  clip-path: inset(5% 20% 15% 10%);
  background: var(--white);
  margin-top: 0;
  margin-left: 50%;
  width: 50px;
  height: 50px;
}

.container__frame--02 {
  clip-path: inset(5% 20% 15% 10%);
  background: var(--white);
  margin-top: 2%;
  margin-left: 80%;
  width: 50px;
  height: 50px;
}

.container__frame--03 {
  clip-path: inset(5% 20% 15% 10%);
  background: var(--color-layout);
  margin-top: -17%;
  margin-left: 90%;
  margin-bottom: 10%;
  width: 50px;
  height: 50px;
}

.container__inset--01 {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  background: var(--color-layout);
  margin-top: -12%;
  margin-left: 65%;
  width: 50px;
  height: 50px;
}

.container__inset--02 {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  background: var(--white);
  margin-top: 5%;
  margin-left: 45%;
  width: 50px;
  height: 50px;
}

.container__inset--03 {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  background: var(--color-layout);
  margin-top: 5%;
  margin-left: 55%;
  width: 50px;
  height: 50px;
}

.container__title {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  margin-top: 120px;
  margin-left: 60%;
  color: var(--color-layout);
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.flash {
  animation-name: flash;
}

.login__container {
  margin: 0;
  padding: 10px;
  width: 430px;
  color: var(--color-text);
  background-color: var(--white);
  opacity: 0.8;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
  .login__container {
    width: 100%;
    height: 100%;
    left: 50%;
    border-radius: 0;
  }
  .container {
    display: none;
  }
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  .login__container {
    width: 90%;
    height: 90%;
    left: 50%;
  }
  .container {
    display: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 750px) {
  .login__container {
    width: 80%;
    height: 80%;
    left: 50%;
  }
  .container {
    display: none;
  }
}

@media only screen and (min-width: 750px) and (max-width: 920px) {
  .login__container {
    width: 50%;
    height: auto;
    left: 70%;
  }
  .container {
    left: -44%;
  }
}

.login__container--url:link {
  color: transparent;
}

div .login__container--icon {
  font-size: 6rem;
  color: var(--color-layout);
}

.prefix.active {
  color: var(--color-layout) !important;
}

.input-field input:focus + label {
  color: var(--color-layout) !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid var(--color-layout) !important;
  box-shadow: none !important;
}
